<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server Sent Events Demo</title>
</head>
<body>
<p>Current server date:</p>
<p id="current-date"></p>
<p>This demo leverages HTTP/2 powered by Traefik, so that Server Sent Events are not constrained.</p>
<p>See: <a href="https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events">https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_event</a></p>
<p>Source code can be found at <a href="https://github.com/tiempor3al/quarkus-kubernetes">https://github.com/tiempor3al/quarkus-kubernetes</a></p>
<script>
    const eventSource = new EventSource("/sse");
    eventSource.onmessage = function(event) {
        document.getElementById("current-date").textContent = event.data;
    };
</script>
</body>
</html>