<!DOCTYPE html>
<html>
<head>
    <title>Server Sent Events Example</title>
</head>
<body>
<p>Current Date from server using Mutiny:</p>
<p id="current-date"></p>

<p>What is cool about this simple demo, is that we are using HTTP/2 to remove the limits on Server Sent Events.</p>
<p>See: <a href="https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events">https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_event</a></p>
<script>
    const eventSource = new EventSource("/sse");
    eventSource.onmessage = function(event) {
        document.getElementById("current-date").textContent = event.data;
    };
</script>
</body>
</html>